/*
    David Villafranca
    November 8, 2022
    IT 202-001
    Project Phase 2
*/
*{
    margin: 0;
    padding: 0;
}
div{
    word-spacing: 100px;
}
a{
    font-size: 200%;
}
a:link{
    color: white;
}
a:hover, a:focus{
    color: purple;
}
a:visited{
    color: turquoise;
}

body{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
 }

 .title{
    text-align: center;
    color: white;
    font-size: 275%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
 }

h6{
    color: white;
}

form{
    background-color: white;
    width: 400px;
    padding: 25px;
    margin: 10px;
}

tr,th,td {
    text-align: center;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
}